# Common
CONFIG_I2C_GPIO=m
CONFIG_SOFT_WATCHDOG=m

# SEC_BSP / SEC_DEBUG
CONFIG_SEC_CLASS=m
CONFIG_SEC_PARAM=m
CONFIG_SEC_KEY_NOTIFIER=m
CONFIG_SEC_BLK_HELPER=m
CONFIG_SEC_QC_PARAM=m
CONFIG_SEC_RELOC_GPIO=m
CONFIG_SEC_DEBUG=m
CONFIG_SEC_BOOT_STAT=m
CONFIG_SEC_LOG_BUF=m
CONFIG_SEC_LOG_BUF_USING_TP_CONSOLE=y
CONFIG_SEC_LOG_BUF_USING_VH_LOGBUF=y
CONFIG_SEC_PMSG=m
CONFIG_SEC_REBOOT_CMD=m
CONFIG_SEC_UPLOAD_CAUSE=m
CONFIG_SEC_CRASHKEY=m
CONFIG_SEC_CRASHKEY_LONG=m
CONFIG_SEC_DEBUG_REGION=m
CONFIG_SEC_RDX_BOOTDEV=m
CONFIG_SEC_ARM64_AP_CONTEXT=m
CONFIG_SEC_ARM64_FSIMD_DEBUG=m
CONFIG_SEC_ARM64_DEBUG=m
CONFIG_SEC_QC_DEBUG=m
CONFIG_SEC_QC_RBCMD=m
CONFIG_SEC_QC_DEBUG_PARTITION=m
CONFIG_SEC_QC_QCOM_REBOOT_REASON=m
CONFIG_SEC_QC_UPLOAD_CAUSE=m
CONFIG_SEC_QC_LOGGER=m
CONFIG_SEC_QC_SOC_ID=m
CONFIG_SEC_QC_SUMMARY=m
CONFIG_SEC_QC_USER_RESET=m
CONFIG_SEC_QC_HW_PARAM=m
CONFIG_SEC_QC_RST_EXINFO=m
CONFIG_SEC_QC_QCOM_WDT_CORE=m
CONFIG_SEC_QC_SMEM=m

#Memory
CONFIG_ZRAM_WRITEBACK=y

#USB
CONFIG_I2C_EUSB2_REPEATER=m
CONFIG_USB_PHY_SETTING_QCOM=y
CONFIG_USB_CONFIGFS_F_CONN_GADGET=m
CONFIG_USB_CONFIGFS_F_SS_MON_GADGET=m
CONFIG_USB_CONFIGFS_F_SS_ACM=m
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_EHSET_TEST_FIXTURE=m
CONFIG_USB_LINK_LAYER_TEST=m

#UFS
CONFIG_SEC_UFS_FEATURE=y

# Sensors
CONFIG_ADSP_FACTORY=m
CONFIG_SENSORS=m
CONFIG_LSM6DSO_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_SUPPORT_LIGHT_SEAMLESS=y
CONFIG_SEC_SENSORS_SSC=y

#Audio
CONFIG_SND_SOC_SAMSUNG_AUDIO=m

#Power
CONFIG_PM=y
CONFIG_SEC_PM=y
CONFIG_SEC_AP_PMIC=m
CONFIG_SEC_GPIO_DUMP=y
CONFIG_CPU_FREQ_LIMIT=m
CONFIG_RTC_AUTO_PWRON=m
CONFIG_SEC_PM_LOG=m
CONFIG_SEC_PM_REGULATOR=m

#Block layer
CONFIG_BLK_SEC_COMMON=m
CONFIG_BLK_SEC_STATS=m
CONFIG_BLK_SEC_WB=m
CONFIG_MQ_IOSCHED_SSG=m
CONFIG_MQ_IOSCHED_SSG_CGROUP=m
CONFIG_MQ_IOSCHED_SSG_WB=m

# PCIE
CONFIG_SEC_PCIE=y
CONFIG_SEC_PCIE_AER=y
CONFIG_SEC_PCIE_L1SS=y
CONFIG_SEC_PCIE_SET_EP_STATUS=y

# Network
CONFIG_INET6_AH=y
CONFIG_IP_NF_MATCH_AH=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_IPC_LOGGING_CDEV=m
CONFIG_SEC_IPC_TIANTONG=m

# SQT
CONFIG_SCHED_FLEX_BOOT=y


CONFIG_SAMSUNG_PRODUCT_SHIP=y


# CONFIG_SEC_FACTORY is not set


# CONFIG_SEC_FACTORY_INTERPOSER is not set
